{% extends "base.html" %}
{% block content %}
<h2>Lista de Utilizadores</h2>
<a href="{{ url_for('novo') }}">Novo Utilizador</a>
<table border="1">
  <tr><th>ID</th><th>Nome</th><th>Email</th><th>Ações</th></tr>
  {% for u in utilizadores %}
  <tr>
    <td>{{ u.id }}</td>
    <td>{{ u.nome }}</td>
    <td>{{ u.email }}</td>
    <td>
      <a href="{{ url_for('editar', id=u.id) }}">Editar</a>
      <a href="{{ url_for('apagar', id=u.id) }}">Apagar</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
