<!doctype html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CriptCoins</h1></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">    
    </head>

    <body>
    <h1><h1><p align="center"><strong>CriptCoins Project</strong></p></h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <table class="table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Criado em</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    {% for u in users %}
      <th scope="row">1</th>
      <td>{{ u.id }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ u.nome }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{ u.email }}</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>{{ u.created_at }}</td>
        </tr>
        <tr>
        <td>
        <a href="/editar/{{ u.id }}">Editar</a>
        <form action="/apagar/{{ u.id }}" method="post" style="display:inline;">
          <button type="submit">Apagar</button>
        </form>
        </td>
        </tr>
        </tbody>
    </table>
    </body>
    {% endfor %}
        {% block footer %}
    <footer class="bg-dark text-light text-center py-3 mt-auto">
        <small><a>© 2026 - Página Inicial</a></small>
    </footer>
    {% endblock %}
</html>