{% extends "base.html" %}
{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h1>Lista de Clientes</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Morada</th>
    <th>Criado em</th>
  </tr>

  {% for cliente in clientes %}
  <tr>
    <td>{{ cliente.id }}</td>
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.telefone }}</td>
    <td>{{ cliente.email }}</td>
    <td>{{ cliente.morada }}</td>
    <td>{{ cliente.created_at }}</td>

    <td>
     {% if session.get("role") == "admin" or session.get("role") == "staff" %}
        <a href="{{ url_for('editar_cliente', id=cliente.id) }}">Editar</a>
      {% endif %}

      {% if session.get("role") == "admin" %}
        <a href="{{ url_for('apagar_cliente', id=cliente.id) }}">Apagar</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}