{% extends "base.html" %}

{% block title %}Criar Animal{% endblock %}

{% block content %}

<h1 class="mb-4">Criar Animal</h1>

<form method="POST">

    <input type="hidden" name="acao" value="salvar">

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Espécie</label>
        <input type="text" name="especie" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Raça</label>
        <input type="text" name="raca" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
        <input type="date" name="data_nascimento" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Cliente</label>
        <select name="cliente_id" class="form-control" required>
            <option value="">-- Selecione um cliente --</option>

            {% for c in clientes %}
                <option value="{{ c.id }}">{{ c.nome }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-success mt-3">Criar Animal</button>

</form>

<a href="{{ url_for('animais_listar') }}" class="btn btn-outline-secondary mt-3">
    Voltar à lista
</a>

{% endblock %}