{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

{% if not session.get("user_id") %}
    <p><a href="{{ url_for('login') }}">Entrar</a></p>

{% elif session.role == "admin" %}
    <h1><ul>Bem-vindo, {{ session.username }}</ul></h1>
    <h2><ul>Perfil: {{ session.role }}</ul></h2>
    <p><ul>Permissões: pode ver/criar/editar/apagar users, clientes, animais e consultas.</ul></p>

{% elif session.role == "staff" %}
    <h1>Bem-vindo, {{ session.username }}</h1>
    <h2>Perfil: {{ session.role }}</h2>
    <p>Permissões: pode ver/criar/editar clientes, animais e consultas. Não pode apagar.</p>

{% elif session.role == "cliente" %}
    <h1>Bem-vindo, {{ session.username }}</h1>
    <h2>Perfil: {{ session.role }}</h2>
    <p>Permissões: pode ver os seus dados pessoais, os seus animais e as suas consultas.</p>

{% endif %}

{% endblock %}