{% extends "base.html" %}
{% block title %}Lista de Users{% endblock %}

{% block content %}
<h1>Lista de Users</h1>

<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <th>Criado em</th>
    <th>Ações</th>
  </tr>

  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.role }}</td>
    <td>{{ user.created_at }}</td>

    <td>
      <a href="{{ url_for('editar_user', id=user.id) }}">Editar</a>
      <a href="{{ url_for('apagar_user', id=user.id) }}">Apagar</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
