{% extends "base.html" %}
{% block title %}Meus Animais{% endblock %}
{% block content %}
<h1>Meus Animais</h1>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Espécie</th>
    <th>Raça</th>
    <th>Data de Nascimento</th>
  </tr>
  {% for animal in animais %}
  <tr>
    <td>{{ animal.id }}</td>
    <td>{{ animal.nome }}</td>
    <td>{{ animal.especie }}</td>
    <td>{{ animal.raca }}</td>
    <td>{{ animal.data_nascimento }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
