{% extends "base.html" %}
{% block title %}Minhas Consultas{% endblock %}
{% block content %}
<h1>Minhas Consultas</h1>
<table border="1" cellpadding="5">
  <tr>
    <th>ID</th>
    <th>Animal</th>
    <th>Data/Hora</th>
    <th>Motivo</th>
    <th>Notas</th>
  </tr>
  {% for consulta in consultas %}
  <tr>
    <td>{{ consulta.id }}</td>
    <td>{{ consulta.animal_nome }}</td>
    <td>{{ consulta.data_hora }}</td>
    <td>{{ consulta.motivo }}</td>
    <td>{{ consulta.notas }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
