{% extends "base.html" %}

{% block title %}Trocar Password{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="hero" style="max-width: 500px; margin: auto;">

        <h3 class="mb-3">Alterar Password</h3>
        <p class="text-muted">Atualize a sua password de forma segura.</p>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Nova Password</label>
                <input type="password" name="nova_password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Confirmar Password</label>
                <input type="password" name="confirmar_password" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100 mt-2">Guardar</button>

        </form>

    </div>
</div>

{% endblock %}